<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Compose YAML</title>
</head>
<body>
    <h1>Edit Compose YAML</h1>
    <textarea name="yaml" rows="20" cols="80">
        {{.}}
    </textarea>
    <br>
    <button id="updateButton">Update</button>
    <script>
        const updateButton = document.getElementById('updateButton');
        const path = window.location.pathname;
        const id = path.split('/').pop();
        updateButton.addEventListener('click', () => {
            fetch(`/compose/update/${id}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'text/plain'
                },
                body: document.querySelector('textarea').value
            }).then(response => {
                if (response.status === 200) {
                    fetch(`/compose/${id}`)
                } else {
                    console.error('Internal Server Error:', response.status);
                }
            }).catch(error => {
                    console.error('Internal Server Error:', error);
            });
        });
    </script>
</body>
</html>