<!DOCTYPE html>
<html>
<head>
    <title>Create Sandbox</title>
</head>
<body>
    <button onclick="createSandbox()">Create Sandbox</button>
    <input type="text" id="sandboxName" placeholder="Name your sandbox" required>
    <script>
        function createSandbox() {
            var sandboxName = document.getElementById('sandboxName').value;
            var uri = '/images/'+sandboxName;
            fetch(uri)
                .then(response => {
                    if (response.status === 200) {
                        window.location.href = uri;
                    } else {
                        console.error('Internal Server Error:', response.status);
                    }
                })
                .catch(error => {
                    console.error('Internal Server Error:', error);
                });
        }
    </script>
</body>
</html>