<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entity List</title>
    <script>
        function addEnvField(entityIndex) {
            const envContainer = document.getElementById('envContainer-' + entityIndex);
            const newEnvField = document.createElement('div');
            newEnvField.classList.add('env-field');
            newEnvField.innerHTML = `
                <label for="envKey-${entityIndex}">Key:</label>
                <input type="text" name="envKey-${entityIndex}" class="env-key" required>
                <label for="envValue-${entityIndex}">Value:</label>
                <input type="text" name="envValue-${entityIndex}" class="env-value" required>
            `;
            envContainer.appendChild(newEnvField);
        }

        function addPortField(entityIndex) {
            const portContainer = document.getElementById('portContainer-' + entityIndex);
            const newPortField = document.createElement('div');
            newPortField.classList.add('port-field');
            newPortField.innerHTML = `
                <label for="HostPort-${entityIndex}">Host Port:</label>
                <input type="text" name="HostPort-${entityIndex}" class="host-port" required>
                <label for="ContainerPort-${entityIndex}">Container Port:</label>
                <input type="text" name="ContainerPort-${entityIndex}" class="container-port" required>
            `;
            portContainer.appendChild(newPortField);
        }

        function collectData() {
            const entities = document.querySelectorAll('.entity');
            const data = [];
            entities.forEach((entity, index) => {
                const name = entity.querySelector('.name').value;
                const ports = entity.querySelector('.ports').value;
                const envFields = entity.querySelectorAll('.env-field');
                const isInfra = entity.querySelector('.is_infra').checked;
                const envs = [];
                envFields.forEach(envField => {
                    const key = envField.querySelector('.env-key').value;
                    const value = envField.querySelector('.env-value').value;
                    envs.push({ key: key, value: value });
                });
                data.push({ image: entity.getAttribute('data-image'), name: name, ports: ports, is_infra: isInfra, ENVs: envs });
            });
            console.log(JSON.stringify(data, null, 2));
        }
    </script>
    <style>
        .entity {
            margin-bottom: 20px;
        }
        .env-field {
            margin-bottom: 10px;
        }
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div id="entityList">
        {{range $index, $name := .}}
        <div class="image-box" data-image="{{$name}}">
            <button type="button" onclick="this.nextElementSibling.classList.toggle('hidden')">
                {{$name}}
            </button>
            <div class="dropdown-content hidden">
                <label for="name-{{$index}}">Name:</label>
                <input type="text" id="name-{{$index}}" class="name" required>
                <br>
                <label for="is_infra-{{$index}}">Is Infra</label>
                <input type="checkbox" id="is_infra-{{$index}}" class="is_infra">
                <br>
                <div id="portContainer-{{$index}}" class="ports">
                    <label>Ports:</label>
                </div>
                <button type="button" onclick="addPortField({{$index}})">Add Port</button>
                <br>
                <div id="envContainer-{{$index}}" class="envs">
                    <label>ENVs:</label>
                </div>
                <button type="button" onclick="addEnvField({{$index}})">Add ENV</button>
                <br>
            </div>
        </div>
        {{end}}
    </div>
    <button id="createCompose" onclick="collectData()">Create Docker Compose</button>
    <script>
        const entityBoxes = document.querySelectorAll('.image-box');
        entityBoxes.forEach(box => {
            box.addEventListener('click', () => {
                box.classList.toggle('selected');
            });
        });

        function getEnvs(document) {
            const envFields = document.querySelectorAll('.env-field');
            const envs = [];
            envFields.forEach(envField => {
                const key = envField.querySelector('.env-key').value;
                const value = envField.querySelector('.env-value').value;
                envs.push({ key: value });
            });
            return envs;
        }

        function getPorts(document) {
            const portFields = document.querySelectorAll('.port-field');
            const ports = [];
            portFields.forEach(portField => {
                const hostPort      = portField.querySelector('.host-port').value;
                const containerPort = portField.querySelector('.container-port').value;
                ports.push(hostPort + ":" + containerPort);
            });
            return ports;
        }
        
        const createCompose = document.getElementById('createCompose');
        
        createCompose.addEventListener('click', () => {
            const dockerServices = [];
            entityBoxes.forEach(box => {
                var name = box.querySelector('.name').value;
                if (name != null && name != "") {
                    var imageNameFull = box.getAttribute('data-image');
                    var imageName = imageNameFull.split(":")[0];
                    var tag       = imageNameFull.split(":")[1];

                    dockerService = {
                        id: imageNameFull,
                        imageName: imageName,
                        name: name,
                        tag: tag,
                        is_infra: box.querySelector('.is_infra').checked,
                        ports: getPorts(box),
                        envs: getEnvs(box)
                    };
                    dockerServices.push(dockerService);
                }
            });

            const payload = {
                id: window.location.pathname.split('/').pop(),
                docker_services: dockerServices
            };

            fetch('/compose/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(payload)
            })
            .then(response => {
                if (response.status === 200) {
                    return response.json();
                } else {
                    throw new Error('Internal Server Error:', response.status);
                }
            })
             .then(data => {
                const id = data.id;
                console.log(id);
                window.location.href = '/compose/' + id;
            })
        });

    </script>    
</body>
</html>
