<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entity List</title>
    <script>
        function addEnvField(entityIndex) {
            const envContainer = document.getElementById('envContainer-' + entityIndex);
            const newEnvField = document.createElement('div');
            newEnvField.classList.add('env-field');
            newEnvField.innerHTML = `
                <label for="envKey-${entityIndex}">Key:</label>
                <input type="text" name="envKey-${entityIndex}" class="env-key" required>
                <label for="envValue-${entityIndex}">Value:</label>
                <input type="text" name="envValue-${entityIndex}" class="env-value" required>
            `;
            envContainer.appendChild(newEnvField);
        }

        function addPortField(entityIndex) {
            const portContainer = document.getElementById('portContainer-' + entityIndex);
            const newPortField = document.createElement('div');
            newPortField.classList.add('port-field');
            newPortField.innerHTML = `
                <label for="HostPort-${entityIndex}">Host Port:</label>
                <input type="text" name="HostPort-${entityIndex}" class="host-port" required>
                <label for="ContainerPort-${entityIndex}">Container Port:</label>
                <input type="text" name="ContainerPort-${entityIndex}" class="container-port" required>
            `;
            portContainer.appendChild(newPortField);
        }

        function addNetwork(entityIndex) {
            const networkContainer = document.getElementById('networkContainer-' + entityIndex);
            const newNetworkField = document.createElement('div');
            newNetworkField.classList.add('network-field');
            newNetworkField.innerHTML = `
                <label for="network-${entityIndex}">Network:</label>
                <input type="text" name="network-${entityIndex}" class="network" required>
            `;
            networkContainer.appendChild(newNetworkField);
        }
    </script>
    <style>
        .entity {
            margin-bottom: 20px;
        }
        .env-field {
            margin-bottom: 10px;
        }
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div id="entityList">
        {{range $index, $name := .}}
        <div class="image-box" data-image="{{$name}}">
            <button type="button" onclick="this.nextElementSibling.classList.toggle('hidden')">
                {{$name}}
            </button>
            <div class="dropdown-content hidden">
                <label for="name-{{$index}}">Name:</label>
                <input type="text" id="name-{{$index}}" class="name" required>
                <br>
                <label for="is_infra-{{$index}}">Is Infra</label>
                <input type="checkbox" id="is_infra-{{$index}}" class="is_infra">
                <br>
                <div id="portContainer-{{$index}}" class="ports">
                    <label>Ports:</label>
                </div>
                <button type="button" onclick="addPortField({{$index}})">Add Port</button>
                <br>
                <div id="envContainer-{{$index}}" class="envs">
                    <label>ENVs:</label>
                </div>
                <button type="button" onclick="addEnvField({{$index}})">Add ENV</button>
                <br>
                <div id="networkContainer-{{$index}}" class="networks">
                    <label>Networks:</label>
                </div>
                <button type="button" onclick="addNetwork({{$index}})">Add Network</button>
                <br>
            </div>
        </div>
        {{end}}
    </div>
    <button id="createCompose">Create Docker Compose</button>
    <script>
        const entityBoxes = document.querySelectorAll('.image-box');
        entityBoxes.forEach(box => {
            box.addEventListener('click', () => {
                box.classList.toggle('selected');
            });
        });

        function getEnvs(document) {
            const envFields = document.querySelectorAll('.env-field');
            const envs = {};
            envFields.forEach(envField => {
                const key = envField.querySelector('.env-key').value;
                const value = envField.querySelector('.env-value').value;
                if (key != null && key !== "" && value != null && value !== "") {
                    envs[key] = value;
                }
            });
            return envs;
        }

        function getPorts(document) {
            const portFields = document.querySelectorAll('.port-field');
            const ports = [];
            portFields.forEach(portField => {
                const hostPort      = portField.querySelector('.host-port').value;
                const containerPort = portField.querySelector('.container-port').value;
                if (hostPort != null && hostPort !== "" && containerPort != null && containerPort !== "") {
                    ports.push(hostPort + ":" + containerPort);
                }
            });
            return ports;
        }

        function getNetworks(document) {
            const networkFields = document.querySelectorAll('.network-field');
            const networks = [];
            networkFields.forEach(networkField => {
                const network = networkField.querySelector('.network').value;
                if (network != null && network !== "") {
                    networks.push(network);
                }
            });
            return networks;
        }
        
        const createCompose = document.getElementById('createCompose');
        
        createCompose.addEventListener('click', () => {
            const dockerServices = [];
            entityBoxes.forEach(box => {
                const name = box.querySelector('.name').value;
                if (name != null && name !== "") {
                    const imageNameFull = box.getAttribute('data-image');
                    const imageName = imageNameFull.split(":")[0];
                    const tag       = imageNameFull.split(":")[1];

                    dockerService = {
                        id: imageNameFull,
                        image_name: imageName,
                        name: name,
                        tag: tag,
                        is_infra: box.querySelector('.is_infra').checked,
                        ports: getPorts(box),
                        environment: getEnvs(box),
                        networks: getNetworks(box)
                    };
                    dockerServices.push(dockerService);
                }
            });

            const payload = {
                id: window.location.pathname.split('/').pop(),
                docker_services: dockerServices
            };

            fetch('/compose/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(payload)
            })
            .then(response => {
                if (response.status === 200) {
                    return response.json();
                } else {
                    throw new Error('Internal Server Error:', response.status);
                }
            })
             .then(data => {
                const id = data.id;
                console.log(id);
                window.location.href = '/compose/' + id;
            })
        });

    </script>    
</body>
</html>
