<!DOCTYPE html>
<html>
<head>
    <title>New sandbox</title>
</head>
<body>
    <h1>New sandbox</h1>
    <button onclick="createSandboxFromSources()">Create Sandbox from Existing Sources</button>
    <button onclick="createNewSandbox()">Create New Sandbox</button>

    <script>
        function createSandboxFromSources() {
            fetch('/composes')
                .then(response => {
                    if (response.status === 200) {
                        window.location.href = '/composes';
                    } else {
                        console.error('Internal Server Error:', response.status);
                    }
                })
                .catch(error => {
                    console.error('Internal Server Error:', error);
                });
        }

        function createNewSandbox() {
            fetch('/images/app')
                .then(response => {
                    if (response.status === 200) {
                        window.location.href = '/images/app';
                    } else {
                        console.error('Internal Server Error:', response.status);
                    }
                })
                .catch(error => {
                    console.error('Internal Server Error:', error);
                });
        }
    </script>
</body>
</html>